{% extends "layouts/base.html" %}

{% block title %} UI Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="card">
            <div class="card-header card-header-primary">
              <h3 class="card-title">Уведомления</h3>
              <p class="card-category">Здесь будут отображаться Ваши уведомления о текущих работах и обращениях граждан
              </p>
            </div>

        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      //init DateTimePickers
      md.initFormExtendedDatetimepickers();
    });
  </script>
  
{% endblock javascripts %}
